<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ipvc.estg.esp32_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DASHBOARD IPVC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESP32_APP">
        <activity
            android:name=".Planta1"
            android:label="@string/title_activity_planta1"
            android:theme="@style/Theme.ESP32_APP.NoActionBar" />
        <activity
            android:name=".menuactivity"
            android:label="@string/title_activity_menuactivity"
            android:theme="@style/Theme.ESP32_APP.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BarChartActivity"/>
        <activity android:name=".PieChartActivity"/>
        <activity android:name=".chartSelection" >

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>